{% if sn.include_jquery %}
	<script src="{{ asset(base_path ~ sn.jquery_path) }}"></script>
{% endif %}
{% if sn.include_bootstrap %}
	<link href="{{ asset(base_path ~ sn.bootstrap_css_path) }}" rel="stylesheet" type="text/css">
	<script src="{{ asset(base_path ~ sn.bootstrap_js_path) }}"></script>
{% endif %}
<link href="{{ asset(base_path ~ sn.summernote_css_path) }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ asset(base_path ~ sn.summernote_js_path) }}"></script>
{% if sn.language is not null %}
	<script type="text/javascript" src="{{ asset(base_path ~ 'lang/summernote-'~sn.language~'.js') }}"></script>
{% endif %}
{% if sn.plugins is not null %}
	{% for plugin in sn.plugins %}
		<script type="text/javascript" src="{{ asset(base_path ~ 'plugin/summernote-ext-'~plugin~'.js') }}"></script>
	{% endfor %}
{% endif %}
<script type="text/javascript">
	{% autoescape false %}
	var summernoteConfig = {
		{% if sn.width is not null %}
		width: '{{ sn.width }}',
		{% endif %}
		{% if sn.height is not null %}
		height: '{{ sn.height }}',
		{% endif %}
		{% if sn.language is not null %}
		lang: '{{ sn.language }}',
		{% endif %}
		{% if sn.toolbar is not null %}
		toolbar: {{ sn.toolbar }},
		{% endif %}
		{% if sn.fontname is not null %}
		fontNames: {{ sn.fontname }},
		{% endif %}
		{% if sn.fontnocheck is not null %}
		fontNamesIgnoreCheck: {{ sn.fontnocheck }},
		{% endif %}
	};
	$(function() {
		$("{{ sn.selector }}").summernote(summernoteConfig);
	});
	{% endautoescape %}
</script>
